<include file="mobile/Public/header" />
<link rel="stylesheet" href="__CSS__/indexHome.css">
<link rel="stylesheet" href="__CSS__/fonts.css">
<link rel="stylesheet" href="__CSS__/swiper/swiper.min.css">
<link rel="stylesheet" href="__CSS__/swiper.css">
<link rel="stylesheet" href="__CSS__/menu.css">
<link rel="stylesheet" href="__CSS__/footer.css">
<script type="text/javascript" src="__JS__/rem.js"></script>
  <header class="back">
    <h1>菜单</h1>
  </header>
  <section class="type">
    <ul>
      <li class="on">午餐</li>
      <li>晚餐</li>
    </ul>
    <aside class="note">
      <p>每天上午10:10截止 (9:45之前可取消)</p>
    </aside>
  </section>
  <section>

  </section>

<include file="mobile/Public/menu-footer" />
<include file="mobile/Public/footer" />
<script>
  var slides = {$cats|json_encode};
  console.log(slides);
  var products = <?php echo(!empty($products) ? json_encode($products) : 'null') ?>;
  console.log('products',products);
  //'jquery' or 'zepto' 脚本入口,按情况选择加载
  seajs.use(['jquery','echo'], function () {
    $(document).ready(function () {
      seajs.use('seajs/swiper');
      $('.add-cart-btn').click(function(e){
        e.stopPropagation();
      });
      seajs.use('transit',function () {
        /*公告滚动效果*/
        var scroll_speed = 75;//平均速度，px/秒
        var delay_time = 1000;//延迟时间
        $('.horn-auto-scroll').each(function () {
          var parent_length = $(this).closest('.horn-aside').width()-40;
          var length = $(this).width();
          if(length>parent_length){
            var scroll_time = length/scroll_speed*1000;
            var $this = $(this);
            function scroll() {
              $this.transition({
                'left':'-100%',
                'duration':scroll_time,
                'delay':delay_time,
                'complete': function (ret) {
                  $this.css('left',0)
                }
              })
            }
            setInterval(function () {
              scroll();
            },500);
          }
        })
      });
    })
  });
</script>
</body>
</html>